# Dependencias
node_modules/

# Build
dist/
*.tsbuildinfo

# Entorno / secretos
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/*.db

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/
